[Unit]
Description=Planet Ring server
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=dcnet
ExecStart=/usr/local/sbin/planetring_server
StandardOutput=append:/var/log/planetring.log

[Install]
WantedBy=multi-user.target
